<footer class="page-footer font-small dark">
  
  <div class="connection">
    <div class="container">
      
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Kết nối với chúng tôi qua mạng xã hội!</h6>
        </div>
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>
          
        </div>
        <!-- Grid column -->
        
      </div>
      <!-- Grid row-->
      
    </div>
  </div>
  
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    
    <!-- Grid row -->
    <div class="row mt-3">
      
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-3 mx-n1 mb-3">
        
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Về Mobistore247</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="text-align: justify">Công ty Mobistore247 chuyên cung cấp các sản phẩm công nghệ hàng đầu với dịch vụ mua hàng online giao hàng nhanh trên toàn quốc.</p>
        
      </div>
      <!-- Grid column -->
      
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
        
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Liên kết</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Giao hàng &amp; thanh toán</a>
        </p>
        <p>
          <a href="#!">Chính sách đổi trả</a>
        </p>
        <p>
          <a href="#!">Chính sách bảo hành</a>
        </p>
        <p>
          <a href="#!">Tuyển dụng</a>
        </p>                
      </div>
      <!-- Grid column -->
      
      <!-- Grid column -->
      <div class="col-md-4 col-lg-2 col-xl-3 mx-auto mb-3">
        
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Hotline</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Gọi mua hàng: 1800 1111
        </p>
        <p>
          Gọi khiếu nại: 1800 1112
        </p>
        <p>
          Hỗ trợ kỹ thuật: 1800 1113
        </p>
        
      </div>
      <!-- Grid column -->
      
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-md-0 mb-4">
        
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Liên hệ</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> 235 Nguyễn Văn Cừ, phường 4, quận 5, T.p Hồ Chí Minh</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> mobistore247@example.com</p>
            <p>
              <i class="fas fa-phone mr-3"></i> + 03 77 85 76 23</p>
            </div>
            <!-- Grid column -->
            
          </div>
          <!-- Grid row -->
          
        </div>
        <!-- Footer Links -->
        
        <!-- Copyright -->
        
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://mobistore247.com/"> Mobistore247.com</a>
        </div>
        <!-- Copyright -->
        
</footer>