<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="">
            <div class="caption">
                <h3>Mobile</h3>
                <p class="price">200d</p>
                <div class="specification">dt dep</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="">
            <div class="caption">
                <h3>Mobile</h3>
                <p class="price">200d</p>
                <div class="specification">dt dep</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="">
            <div class="caption">
                <h3>Mobile</h3>
                <p class="price">200d</p>
                <div class="specification">dt dep</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="">
            <div class="caption">
                <h3>Mobile</h3>
                <p class="price">200d</p>
                <div class="specification">dt dep</div>
            </div>
        </div>
    </div>
</div>