<div class="product-container">
  <div class="product-category">
    <h2>
      <a href="phone.html" title="Điện thoại hot nhất">Điện thoại hot nhất</a>
    </h2>
  </div>
  <div class="phone-container">
    {{# each products}}
      {{> productrow products=this}}
    {{/each}}
  </div>
</div>