<div class="container">
  <div id="login" class="col-md-6 offset-md-3">
    <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Login</legend>

    <!-- Text input-->
    <div class="form-group row">
      <label class="control-label col-md-3" for="txtUsername">Username</label>  
      <div class="col-md-9">
        <input id="txtUsername" name="txtUsername" type="text" placeholder="Tên đăng nhập" class="form-control input-md" required="">
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group row">
      <label class="control-label col-md-3" for="txtpassword">Password</label>
      <div class="col-md-9">
        <input id="txtpassword" name="txtpassword" type="password" placeholder="Mật khẩu" class="form-control input-md" required="">
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="btnlogin" name="btnlogin" class="btn btn-primary" style="width: 100%;">Login</button>
    </div>
    <div>
      <p>Chưa có tài khoản? <a href="/register">Đăng kí</a></p>
    </div>
    </fieldset>
    </form>
  </div>
</div>