<div class="container">
  <div id="login" class="col-md-6 offset-md-3">
    {{#if hasErrors}}
    <div class="alert alert-danger">
      {{#each messages }}
      <p>{{this}}</p>
      {{/each}}
    </div>
    {{/if}}
    <form class="form-horizontal" method="POST" action="/login">
    <fieldset>

    <!-- Form Name -->
    <legend>Login</legend>
    <p id="txtmessage"></p>
    <!-- Text input-->
    <div class="form-group row">
      <label class="control-label col-md-3" for="txtusername">Username</label>  
      <div class="col-md-9">
        <input id="txtusername" name="txtusername" type="text"
                placeholder="Tên đăng nhập" class="form-control input-md" required
                oninvalid="this.setCustomValidity('Vui lòng điền tên đăng nhập')"
                oninput="this.setCustomValidity('')"
        >
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group row">
      <label class="control-label col-md-3" for="txtpassword">Password</label>
      <div class="col-md-9">
        <input id="txtpassword" name="txtpassword" type="password"
                placeholder="Mật khẩu" class="form-control input-md" required
                oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu')"
                oninput="this.setCustomValidity('')"
        >
      </div>
    </div>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <!-- Button -->
    <div class="form-group">
      
      <button type="submit" id="btnlogin" name="btnlogin" class="btn btn-primary" style="width: 100%;">Login</button>
    </div>
    <div>
      <p>Chưa có tài khoản? <a href="/register">Đăng kí</a></p>
    </div>
    </form>
  </div>
</div>